<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form">
        <input type="text" placeholder="Digite o seu nome">
        <input type="assunto" placeholder="Digite o assunto">
        <input type="tel" placeholder="(12) 3 4567-8901">
        <input type="email" placeholder="Digite seu e-mail">
        <textarea maxlength="300" placeholder="Digite sua mensagem"></textarea>
        <button>Enviar</button>
    </form>
    <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58531.040868908596!2d-46.7206664992327!3d-23.52566579999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce58031d7da165%3A0x3cc6fc1e14982a33!2sCapgemini%20Business%20Services%20Brasil-Assessoria%20Empresarial!5e0!3m2!1spt-BR!2sbr!4v1673645805372!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Av. Francisco Matarazzo, 1500 - Água Branca, São Paulo - SP, 05033-070</p>
    </address>
</section>